# Gradle
.gradle/
build/
**/build/
gradle-app.setting
.gradletasknamecache
!gradle/wrapper/gradle-wrapper.jar

# IDE & Editors
.idea/
*.iml
*.ipr
*.iws
out/
.vscode/
.classpath
.project
.settings/
.idea_modules/

# Subproject generated reports
aat-core/docs/
aat-api/docs/
bin/

# Compiled Java
*.class
*.jar
!gradle-wrapper.jar
*.war
*.ear

# Logs & Dumps
*.log
*.stackdump
hs_err_pid*

# OS specific files
.DS_Store
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Server test runs
run/
runs/
